// Define variables for your color scheme

// For example:
$red: #FF2B47;
$blue: #5E2BFF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1edd9d;
$black: #0f0f0f;
$gray: #1f1f1f;
$light-gray: #F4F4F4;

// paleta
$dark-1: #16181F;
$dark-2: #272937;
$mid-gray: #5A5D74;
$light-1: #A7B1C1;
$light-2: #E9E9E9;
$warm-dark: #44001A;
$warm-high: #AD0042;
$warm-light: #DA4167;
$cold-dark: #280436;
$cold-high: #7906A5;
$cold-light: #5A5D74;
