<div class="container chatbot">
  <h1>O Mago da 4ª Parade lhe aguarda</h1>
  <%= link_to "Voltar", :back, class: "btn btn-flat" %>
  <div id="assistants">
    <%= render @assistants %>
  </div>

  <%= render "form", assistant: @assistant %>

</div>
