<div class="container chatbot">
  <h1>O Mago da 4ª Parade lhe aguarda</h1>
  <div id="question" class="question">
    <%= render @assistants %>
  </div>

  <%= render "form", assistant: @assistant %>

  <div class="container m-3">
    <%= link_to "Voltar", :back, class: "btn-ghost" %>
  </div>
</div>
