<%= content_for(:navbar_class, "navbar-home") %>

  <div class="banner">
    <div class="banner-content text-center">
      <h1>Bem vindo ao W.i.P</h1>
      <h2>O lugar aonde você com certeza irá jogar!</h2>
      <%= link_to "Index", games_path,  class: "btn btn-primary"  %>
    </div>
  </div>
