<h1>Todos os grupos de jogos</h1>
<hr>

<div class="container">
  <ul>
    <% @games.each do |g| %>
      <div class="card mb-3">
        <div class="card-header">

        </div>
      </div>
  </ul>
</div>
