<div class="container mt-3">
  <h1>Novo Grupo</h1>
  <hr>
</div>
<div class="container">
  <%= render "form", game: @game %>

</div>
<div class="container">
    <%= link_to "Voltar", :back, class: "btn-ghost" %>
</div>
