<div class="container m-3">
  <h1>Novo Grupo</h1>
  <hr>
  <div class="container mb-3">
    <%= link_to "Voltar", :back, class: "btn-ghost" %>
  </div>
  <div class="container">
    <%= render "form", game: @game %>
  </div>
</div>
