.banner {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #A7B1C1;
  background-size: cover;
  background-position: center;

  h1 {
    color: #5A5D74;
    font-weight: bold;
    font-size: 45px;
  }

  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }

  .btn {
    padding: 10px 30px;
    border-radius: 15px;
    background-color: #7906A5;
    text-decoration: #E9E9E9;
  }

  .btn:hover {
    background-color: #AD0042;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}
