.card-header{
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

  }
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 40px;
  text-align: justify;

  .card-footer{
    color: $dark-2;
  }

  .text-item{
    margin: 0 30px;
  }
}

h5 {
  color: $cold-high;
}

h1 {
  color: $cold-dark;
}

.card-trip {
  border-radius: 25px;
  overflow: hidden;
  background: $white;
  box-shadow: 0 0 15px $dark-shadow;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.card-trip .text-item {
  font-size: 16px;
  font-weight: bold;
  color: $cold-dark;
}
.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.game-header {
  padding: 5px;
  padding-left: 10px;
}

ul {
  border: none;
}

.card {
  border: none;
}

a {
  text-decoration: none;
  color: $cold-high;
}
a:hover {
  color: $cold-light;
}


.description {
  text-align: center;
  color: $cold-high;
}
