.card-header{
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

  }
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 40px;
  text-align: justify;

  .card-footer{
    color: $dark-2;
  }

  .text-item{
    margin: 0 30px;
  }
}

h5 {
  color: $cold-high;
}

i {
  color: $red;
}
